.horizontal-collapse-transition {
    -webkit-transition: none;
    transition:none;
}

.el-loading-mask{
	background-color: rgba(255,255,255,0) !important;
}

.el-button--small{
    padding: 5px 9px;
}
