.top-menu .el-menu .el-submenu {
    float: none;
    /* //padding: 0 8px !important; */
}

.top-menu.el-menu--horizontal .el-menu-item,
.el-menu--horizontal .el-submenu__title {
    padding: 0 !important;
}

.head-nav .el-menu--horizontal>.el-menu-item {
    height: 38px !important;
    line-height: 34px !important;
    border-right: 1px solid #009983;
    box-sizing: border-box;
}

.head-nav .el-menu--horizontal>.el-menu-item:last-child {
    border-right: 0px !important;
}

.head-nav .el-dropdown-menu__item--divided:before,
.el-menu,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal>.el-submenu .el-submenu__title:hover {
    background-color: transparent !important;
    color: #fff !important;
}

.head-nav .el-menu--horizontal>.el-menu-item.is-active,
.head-nav .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
    background-color: #008572 !important;
    border-top: 3px solid #008572;
    box-sizing: border-box;
    color: #fff !important;
}

.el-menu--horizontal .el-menu .el-menu-item {
    color: #fff !important;
}

.head-nav .el-menu {
    height: 38px !important;
    line-height: 34px !important;
    transform: skew(-30deg);
    background-color: #00ad94 !important;
    /* // box-shadow: 1px 0px  5px #222; */
}

.head-nav .el-submenu__title i {
    color: #fff !important;
}

.el-menu-item i {
    color: #fff !important;
}