.sidebar .sidebar-el-menu .el-menu-item.is-active{
    background-color: #008572 !important;
}

.sidebar .el-menu-item, .el-submenu__title{
    height: 45px!important;
    line-height: 45px!important;
    border-bottom: 1px dashed #a7a0a0;
    /* padding-left: 10px!important; */
}

.sidebar > ul{
    top: 36px!important;
}

.sidebar .el-menu--collapse {
    /* width: 45px!important; */
}